---
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import skyImage from '~/assets/images/about-sky.jpg';

export const prerender = true;

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <section class="px-4 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-3xl">
    <div class="prose prose-lg dark:prose-invert dark:prose-headings:text-slate-300 prose-img:rounded-md prose-img:shadow-lg">
      <p>
      I'm Xian Xu, and this is my personal blog. I see myself as a technologist, a Silicon Valley insider, a modern humanist, and an institutionalist in the constitutional law sense. All opinions shared here are solely my own and do not reflect those of any past, present, or future employer.
      </p>
      <p>
      Guarantor of his own reality.
      </p>

      <Image
        src={skyImage}
        alt="Dark sky in Death Valley"
        widths={[400, 900]}
        sizes="(max-width: 900px) 400px, 900px"
        class="rounded-md"
      />
    </div>
  </section>
</Layout>
